---
layout: default
bodyClass: "page-teams"
---

<div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
                {{ content }}
            </div>
            {% if page.intro_image %}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container pt-6 pb-6">
    <div class="row">
        {% assign promoted_teams = site.team | where: "promoted", true | sort: "weight" %}
        {% for team in promoted_teams %}
        <div class="col-12 col-md-6 mb-2">
            <div class="team team-summary team-summary-large">
                {% if team.image %}
                <div class="team-image">
                    <img width="90" height="90" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name"><a href="{{ team.url | relative_url }}">{{ team.title }}</a></h2>
                    <p class="team-description">{{ team.jobtitle }}</p>
                    {% if team.lattesurl %}
                    <a target="_blank" href="{{ team.lattesurl }}" rel="noreferrer">Lattes</a>
                    {% endif %}
                    {% if team.orcidurl %}
                    <a target="_blank" href="{{ team.orcidurl }}" rel="noreferrer">OrcID</a>
                    {% endif %}
                </div>
                <div class="team-content">{{ team.content | truncate: 160 }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row pt-6 pb-6">
        {% assign teams = site.team | where: "promoted", false | sort: "weight" %}
        {% for team in teams %}
        <div class="col-12 col-md-4 mb-3">
            <div class="team team-summary">
                {% if team.image %}
                <div class="team-image">
                    <img width="60" height="60" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name"><a href="{{ team.url | relative_url }}">{{ team.title }}</a></h2>
                    <p class="team-description">{{ team.jobtitle }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <h2>Egressos</h2>
    <style>
        .dgp-team { 
            text-transform: uppercase;
            font-size: 12px;
            color: #2f2f41;
            font-weight: 500;
        }
    </style>
    <br>
    <p class="team-description dgp-team">Michelle Modesto (2018-2022)</p>
    <p class="team-description dgp-team">Tsai Yi Jing (2011-2021)</p>
    <p class="team-description dgp-team">Milla Benício (2019-2021)</p>
    <p class="team-description dgp-team">Carlos Bonifácio (2018-2020)</p>
    <p class="team-description dgp-team">Thainá Ribeiro (2020)</p>
    <p class="team-description dgp-team">Rangel Ramos (2018-2020)</p>
    <p class="team-description dgp-team">Daniel Rios (2014-2019)</p>
    <p class="team-description dgp-team">José Victor Ramos (2016-2019)</p>
    <p class="team-description dgp-team">Maria Eduarda Sgardi (2019)</p>
    <p class="team-description dgp-team">Raphael Monte Mór (2018)</p>
    <p class="team-description dgp-team">Carolina Câmara (2012-2013)</p>
    <p class="team-description dgp-team">Ana Beatriz Brêtas de Araújo (2015-2018)</p>
    <p class="team-description dgp-team">Andressa Teixeira (2017-2018)</p>
    <p class="team-description dgp-team">Luiz Filipe Paz (2016-2018)</p>
    <p class="team-description dgp-team">Allan Santos (2017)</p>
    <p class="team-description dgp-team">Juliana Fasuolo (2017)</p>
    <p class="team-description dgp-team">Luana Inocêncio (2017)</p>
    <p class="team-description dgp-team">Rodrigo César Firmino (2017)</p>
    <p class="team-description dgp-team">Fernanda Freire (2014-2016)</p>
    <p class="team-description dgp-team">Carolina Brandão Régis (2015-2016)</p>
    <p class="team-description dgp-team">Janderson Pereira Santa Clara (2014-2015)</p>
    <p class="team-description dgp-team">Luan Souza Dutra (2013-2014)</p>
    <p class="team-description dgp-team">Anthony Ravoni (2012-2014)</p>
    <p class="team-description dgp-team">Isabella Lupatini (2012-2015)</p>
    <p class="team-description dgp-team">Manuela de Araújo Oliveira (2015)</p>
    <p class="team-description dgp-team">Mayara Caetano (2012-2014)</p>
    <p class="team-description dgp-team">Josué de Oliveira Melo (2012-2014)</p>
    <p class="team-description dgp-team">Bruna Freire (2012-2013)</p>
    <p class="team-description dgp-team">Carolina Câmara (2012-2013)</p>
    <p class="team-description dgp-team">Milena Pereira (2011-2012)</p>
    <br>
    
</div>
